
.Grid {
  width: 100%;
  text-align: center;
  display: block;

  .row {
    text-align: left;
    max-width: 1024px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
  }

  [class*='col-'] {
    float: left;
    min-height: 1px;
  }

  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .col-10 {
    width: 10%;
  }

  .col-25 {
    width: 25%;
  }

  .col-50 {
    width: 50%;
  }

  .col-75 {
    width: 75%;
  }

  .col-100 {
    width: 100%;
  }

  .margin {
    margin: 2em;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
